@import "tailwindcss";

/* Google Translate UI & Banner reset */
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
  visibility: hidden !important;
}

body {
  top: 0px !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
